body {
  display: flex;
  /* min-height: 100vh; */
  flex-direction: column;
  align-items: center;
  /* background: url('/src/assets/background-1.jpeg'); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background-color: #ffffff;
  /* width: 100%;
  height: 100%; */
  min-height: 100vh;
}

#app {
  display: flex;
  /* min-height: calc(100vh - 16px); */
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  /* background: linear-gradient(to top right, #07367c, white); */
  /* background-color: #f3f5f785; */
  background-image: url('assets/background-1.jpeg');
  background-size: cover;
  /* The background must be behind the canvas */
  /* z-index: 0; */
}

#background {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: absolute;
}

#board {
  display: flex;
  /* min-height: calc(100vh - 16px); */
  flex-direction: column;
  max-width: 450px;
  width: 100%;
  height: 100%;
  /* border-style: solid;
  border-radius: 15px;
  border-color: #327075; */
  /* margin: 5px; */
  z-index: 10;
}

/* Chat ------------------------*/
#chatView {
  height: calc(100vh - 65px) !important;
  z-index: 1;
}

.chatMsg,
.chatMarkdown {
  max-width: 80%;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #94979994;
  margin: 5px;
  padding: 10px;
  margin-left: 24px;
  align-self: flex-start;
  background-color: #ffffffc7;
}

.chatMsg-bot {
  align-self: flex-start;
  background-color: #ffffffc7;
}

.chatMsg-user {
  align-self: flex-end;
  background-color: rgb(143 241 147 / 60%);
}

.chatMsgPrize {
  z-index: 1;
  width: 250px;
  align-self: center;
  border-radius: 100px;
  border-style: solid;
  border-width: 1px;
  border-color: #94979994;
  background-color: #6ecb34;
  margin: 5px;
  padding: 5px;
  margin-left: 24px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px 1px black;
  color: #f8f8ffd9;
}

.chatButton {
  max-width: 80%;
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #94979994;
  margin: 5px;
  padding: 10px;
  margin-left: 24px;
  align-self: self-start;
  background-color: #6ecb35;
  /* text-decoration: underline; */
  color: white;
  padding-right: 15px;
  padding-left: 15px;
  cursor: pointer;
}

/* Login --------------------*/
.login {
  font-family: system-ui;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px 0px #284035;
  border-radius: 15px;
  padding: 45px;
  margin-top: 20px;
  background-color: #ffffffc7;
}

.login .row {
  width: 100%;
  padding-bottom: 10px;
}

.login label {
  font-size: 16px;
}

.login input {
  margin-top: 5px;
  font-size: 16px;
  width: 96%;
}

.login button {
  align-self: flex-end;
}

.fadeOut {
  /* visibility: hidden;
  transition-property: visibility;
  transition-duration: 4s;
  transition-delay: 2s;
  transition-timing-function: ease-out; */
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s ease-out, opacity 1s ease-out;
}

#particles canvas {
  visibility: visible;
  opacity: 1;
  transition: visibility 1s ease-out, opacity 1s ease-out;
  z-index: 0 !important;
}

/* Score ----------------------- */
.score {
  margin-top: 15px;
  font-size: x-large;
  color: white;
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  z-index: 0;
}

.score .text {
  position: relative;
  top: -33px;
  left: 33px;
  font-size: 13px;
  color: white;
  width: 30px;
  /* border: 1px solid blue; */
  text-align: center;
}

.userButton {
  min-width: 35px;
  align-self: center;
  border-radius: 100px;
  border-style: solid;
  border-width: 1 px;
  border-color: #94979994;
  background-color: #6ecb34;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 4px 0px black;
  color: #f8f8ffd9;
  font-size: 21px;
  font-weight: bolder;
  height: 35px;
}
