body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: flex-end;
}

#app {
  display: flex;
  /* min-height: calc(100vh - 16px); */
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  border-style: solid;
  border-radius: 15px;
  border-color: #327075;
  margin: 5px;
  height: 98vh;
}
